:root {
    --basic-text-color: #212121;
    --title-text-color: #ffffff;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color: #2f303a;
    --button-color-portfolio: #f5f4fA;
    --client-color-img: #afb1b8;
}
body {
    color: var(--basic-text-color);
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
}
*::before,
*::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}

    /* delete list dot */
.list,
.button-portf,
.footer__list,
.clients__list {
    list-style: none;
}
                /* containers */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section,
.about,
.team,
.clients {
    margin: 0 auto;
    padding-bottom: 94px;
}
.advatages,
.team,
.clients {
    padding-top: 94px;
}
.container .list {
    display: flex;
}


/* header */
.header {
    margin: 0 auto;
    padding: 24px 0 25px 0;
    border-bottom: 1px solid #ececec
}

.logo {
    color: var(--basic-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: 0.04em;
    text-decoration: none;
}
.logo__first {
    color: var(--accent-text-color);
    margin: 0 auto;
    margin-bottom: 20px;
}
        /* main navigation */
.header__navigation {
    display: flex;
    align-items: center;
    gap: 91px;
    flex-grow: 1;
}
.navigation__list {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}
.navigation__link {
    color: var(--basic-text-color);
    text-decoration: none;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-text-color);
}
.navigation__link--selected {
    color: var(--accent-text-color);
}
.navigation__link--selected::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    position: absolute;
    left: 0;
    top: 48.5px;
    border-radius: 2px;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__contacts {
    gap: 50px;
    display: flex;
    align-items: center;
}

.contacts__mail {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contacts__tel {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.contacts__mail-icon {
    fill: var(--secondary-text-color);
    width: 16px;
    height: 12px;
}

.contacts__tel-icon {
    fill: var(--secondary-text-color);
    width: 10px;
    height: 16px;
}

/* contact info */
.header__contacts {
    font-size: 14px;
    list-style: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.contacts__tel,
.contacts__mail,
.contacts__mail-icon,
.contacts__tel-icon {
    color: var(--secondary-text-color);
    text-decoration: none;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover .contacts__mail-icon,
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__mail:focus .contacts__mail-icon,
.contacts__tel:hover,
.contacts__tel:focus,
.contacts__tel:hover .contacts__tel-icon,
.contacts__tel:focus .contacts__tel-icon {
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
}



/* main section */

.primary {
    padding: 200px 0;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/main-img.jpg);
    background-size: cover;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}
.primary__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
    color: var(--title-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.primary__button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0px;
    font-size: 16px;
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.primary__button:focus,
.primary__button:hover {
    cursor: pointer;
    background-color: var(--title-text-color);
    color: var(--accent-text-color);
}

/* info section */
.advatages {
    display: flex;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4)
}
.advatages__info {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.advatages li::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-color: var(--button-color-portfolio);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.advatages__icon-antenna::before {
    background-image: url(../images/antenna.svg);
}
.advatages__icon-clock::before {
    background-image: url(../images/clock.svg);
}
.advatages__icon-laptop::before {
    background-image: url(../images/diagram.svg);
}
.advatages__icon-spaceman::before {
    background-image: url(../images/astronaut.svg);
}
.advatages__text {
    max-width: 270px;
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about company */
.about__block {
    margin-right: 30px;
    max-width: 370px;
}
.about__block:last-child{
    margin-right: 0;
}
.about__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.about__wrap {
    position: relative;
}
.about__wrap::before {
    display: inline-block;
    position: absolute;
    content: "";
    background-color: var(--background-color);
    width: 100%;
    height: 70px;
    opacity: 0.8;
    bottom: 3px;
}
.about__info {
    position: absolute;
    bottom: 27px;
    left: 50%;
    transform: translate(-50%, -25%);
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* our team */
.team {
    background-color: #F5f4Fa;
}
.team__card {
    background-color: var(--title-text-color);
    max-width: 270px;
    text-align: center;
    padding-bottom: 30px;
    margin-right: 30px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__card:last-child {
    margin-right: 0;
}
.team__card img {
    margin-bottom: 30px;
}
.team__title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.card__title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.card__about {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.card__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-basis: calc((100% - 30px) / 4)
}
.card__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--client-color-img);
    background-color:var(--title-text-color);
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__icon:hover,
.card__icon:focus {
    fill: var(--title-text-color);
    background-color: var(--accent-text-color);
}
.clients__title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.clients__icon {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    fill: var(--client-color-img);
    background-color: var(--title-text-color);
    border-radius: 4px;
    border: 1px solid var(--client-color-img);

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-basis: calc((100% - 150px) /6);
}
.clients__icon:hover,
.clients__icon:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color)
}
                /* second page */
/* navigation */
.button-portf {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
.button-portf-first,
.button-portf-second,
.button-portf-third,
.button-portf-forth,
.button-portf-fifth {
    border: 0px;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--button-color-portfolio);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portf-first {
    padding: 6px 25px;
}
.button-portf-first:hover,
.button-portf-second:hover,
.button-portf-third:hover,
.button-portf-forth:hover,
.button-portf-fifth:hover,
.button-portf-first:focus,
.button-portf-second:focus,
.button-portf-third:focus,
.button-portf-forth:focus,
.button-portf-fifth:focus {
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* portfolio menu  */
.portf-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-content: center;
}
.portf-list {
    flex-basis: calc((100% - 60px) / 3);
    text-align: left;
    gap: 30px;
    padding: 0;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-list:hover,
.portf-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-wrap {
    position: relative;
    overflow: hidden;
}
.portf-wrap::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(295px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-list:hover .portf-wrap::before,
.portf-list:hover .portf-text {
    transform: translateY(0);
}
.portf-text {
    position: absolute;
    top: 63px;
    left: 24px;
    right: 24px;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: left;
    display: flex;

    transform: translateY(295px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-pich {
    display: flex;
    max-width: 370px;
    border-style: none;
}
.hero-portf {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.list-portf {
    display: flex;
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.info-cont {
    padding: 20px 24px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.8);
    /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.backdrop-but {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--title-text-color);
    /* align-items: center;    */
    /* justify-content: center; */
    /* text-transform: uppercase; */
    position: absolute;
    top: 8px;
    right: 8px;
}
.backdrop-but svg {
    position: absolute;
    top: 5.5px;
    right: 5.5px;
}
.backdrop-but:hover {
    fill: var(--accent-text-color);
    cursor: pointer;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--title-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-hero {
    padding-top: 32px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.form-main {
    margin-top: 12px;
    padding: 0 32px;
}
.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    position: relative;
}
.form-svg {
    position: absolute;
    top: 28px;
    left: 12px;
}
.form-svg:hover,
.form-field:hover {
    fill: rgba(33, 150, 243, 1);
    border-color: rgba(33, 150, 243, 1);
}
.form-field label {
    margin-bottom: 4px;
}
.form-field input {
    margin: 0;
    padding: 11px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
}
.form-field input:hover,
.form-field input:focus,
.form-svg:hover {
    cursor: pointer;
    border-color: rgba(33, 150, 243, 1);
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within .form-svg {
    fill: rgba(33, 150, 243, 1);
}
.form-field-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(75, 75, 75, 0.5);
}
.form-field-comment textarea:hover,
.form-field-comment textarea:focus {
    cursor: pointer;
    border-color: rgba(33, 150, 243, 1);
    outline: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
}

.icon-check {
    width: 16px;
    height: 15px;
    border: 1px solid var(--background-color);    
    border-radius: 2px;
    outline: none;
    margin-right: 7px;
}
.check {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.checkbox:checked + .icon-check {
    background-color: var(--accent-text-color);
    border-radius: 2px;
    border-color: var(--accent-text-color);
    background-image: url(../images/iconch.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
}
.form-field-comment label {
    margin-bottom: 4px;
}
.form-field-comment textarea {
    margin: 0;
    font-family: inherit;
    padding: 12px 16px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
}
.form-field-comment textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.form-terms {
    color: rgba(33, 150, 243, 1);
}
.form-button {
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 52px;
    border: 0px;
    font-size: 16px;
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    align-content: center;
    justify-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.form-bt {
    display: flex;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}
.form-button:hover {
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
    /* footer info  */
.footer {
    margin: 0 auto;
    padding: 60px 0;
    background-color: var(--background-color);
}
.footer__info {
    margin-right: 94px;
}
.footer__logo {
    display: block;
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer__address {
    color: var(--title-text-color);
    margin: 0 auto;
    margin-bottom: 9px;
}

.footer__mail,
.footer__tel {
    display: block;
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
    margin: 0 auto;
}
.footer__mail {
    margin-bottom: 9px;
}
.social__item {
    color: var(--button-color-portfolio);
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
}
.footer__container {
    display: flex;
    align-items: baseline;
}
.footer__social {
    justify-content: center;
    align-items: center;
    padding-right: 93px;
}
.social__item {
    margin-bottom: 20px;
}
.social__logos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: start;
}
.social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--title-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover,
.social__icon:focus {
    fill: var(--title-text-color);
    background-color: var(--accent-text-color);
}
.footer__form {
    display: flex;
    align-items: center;
}
.form {
    margin-right: 12px;
}
.footer__form-hero {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: var(--button-color-portfolio);
    margin-bottom: 20px;
}
.form input {
    padding: 15px 16px;
    width: 358px;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--button-color-portfolio);
    outline: none;
}
.form-footer input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
}
.footer-button {
    width: 200px;
    padding: 10px 28px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    border: 0;
    border-radius: 4px;
    background-color: var(--accent-text-color);
    color: var(--button-color-portfolio);
    fill: var(--button-color-portfolio);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
